.cell {
  background-color: white;
  cursor: pointer;
}

.visited {
  background-color: #3aa5f5;
}

.wall {
  background-color: #6e6e6e;
  cursor: not-allowed;
}

.solution {
  animation: grow;
  animation-duration: 300ms;
  animation-iteration-count: 3;
  background-color: #9dcf9d;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
