.cell {
  background-color: white;
  cursor: pointer;
}

.visited {
  background-color: #3aa5f5;
}

.wall {
  background-color: #6e6e6e;
  cursor: not-allowed;
}

.solution {
  background-color: #9dcf9d;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}
