.App {
  text-align: center;
  background-color: black;
}

.App-link {
  color: #61dafb;
}

.maze-container {
  border: 3px solid blue;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
