.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.maze {
  border: 1px solid white;
  padding: 15px;
  width: fit-content;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.controls .title {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.buttons {
  margin-top: 20px;
}

.maze-button {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 20px;
}

.disabled {
  cursor: not-allowed;
}
